@page "/background"

<div class="frame">
    <div class="backgroundBG">
        <div class="border">

            <div class="titleSection">
                <div class="titleBackground">
                    Background
                </div>
                <div class="titleBackgroundReflected">
                    Background
                </div>
                <Josh_Hill___Portfolio.wwwroot.Components.Motto>

                </Josh_Hill___Portfolio.wwwroot.Components.Motto>
            </div>

            <div class="infoContainer">
                <div class="infoTitle">
                    Josh S. Hill
                </div>
                <div class="info">
                    Born into Oxfordshire, England, I’ve appreciated design and development since education. With a keen eye for improvement, an understanding of personal growth and a willingness to pursue.
                    <br /><br />
                    This is the beginning of my large artistic construction and my delve into producing a proud collection of spaces that express my thoughts and emphasise my ability.
                </div>
            </div>

            <NavLink class="goBackNavALT" href="" Match="NavLinkMatch.All">
                <span class="goBackALT">Go Back</span>
            </NavLink>

            <img src="/images/Arrow1.png" class="arrow3ALT" alt="two-connected-dots" />
            <img src="/images/Arrow2.png" class="arrow4ALT" alt="line-with-dot" />

        </div>
    </div>
</div>