@page "/background"

<div class="frame">
    <div class="backgroundBG">
        <div class="border">

            <div class="titleSection">
                <div class="titleBackground">
                    Background
                </div>
                <div class="titleBackgroundReflected">
                    Background
                </div>
            </div>

            <div class="infoContainer">
                <div class="infoTitle">
                    Josh S. Hill
                </div>
                <div class="info">
                    Born into Oxfordshire, England, I'm a self taught Associate Software Engineer who has appreciated design and development since education. 
                    With a keen eye for improvement, an understanding of personal growth and a willingness to pursue.
                    <br /><br />
                    I've designed various projects in Figma, built them using the Blazor framework thus written in HTML, CSS and C#. Although my primary interest is creativity, I enjoy the nuances of backend development.
                    <br /><br />
                    This is the beginning of my large artistic construction and my delve into producing a proud collection of spaces that express my thoughts and emphasise my ability.
                </div>
            </div>

            <NavLink class="goBackNavALT" href="" Match="NavLinkMatch.All">
                <span class="goBackALT">Go Back</span>
            </NavLink>


        </div>
    </div>
</div>