@page "/"

<div class="frame">
    <div class="primaryBG">
        <div class="border">
            <img src="/images/Arrow1.png" class="arrow1" alt="two-connected-dots"/>
            <img src="/images/Arrow2.png" class="arrow2" alt="line-with-dot"/>

            <div class="titleSection">
                <div class="titleJosh">
                    Josh
                </div>
                <div class="titleHill">
                    Hill
                </div>
                <Josh_Hill___Portfolio.wwwroot.Components.Motto>

                </Josh_Hill___Portfolio.wwwroot.Components.Motto>
            </div>

            <div class="navigationSection">
                <NavLink class="projectsNav" href="projects" Match="NavLinkMatch.All">
                    <span class="projectsLink" aria-hidden="true"></span> Projects
                </NavLink>
                <NavLink class="projectsNav" href="background" Match="NavLinkMatch.All">
                    <span class="backgroundLink" aria-hidden="true"></span> Background
                </NavLink>
            </div>

        </div>
    </div>
</div>
