@page "/projects"

<div class="frame">
    <div class="projectsBG">
        <div class="border">
            <img src="/images/Arrow1.png" class="arrow1" alt="two-connected-dots" />
            <img src="/images/Arrow2.png" class="arrow2" alt="line-with-dot" />

            <div class="titleSection">
                <div class="titleProjects">
                    Projects
                </div>
                <div class="titleProjectsReflected">
                    Projects
                </div>
                <Josh_Hill___Portfolio.wwwroot.Components.Motto class="projectsMotto">

                </Josh_Hill___Portfolio.wwwroot.Components.Motto>
            </div>

            <div class="projectList">
                <div class="project1">
                    <div href="" class="projectTitle">
                        NSure Client Portal
                    </div>
                    <div class="projectDesc">
                        Built on the Blazor framework, this rich and intuitive interface makes your insurance easier to understand.
                    </div>
                </div>

                <div class="project2">
                    <a class="projectLink" href="https://destiny-stats.azurewebsites.net">
                        <div class="projectTitle">
                            Video Game Stats Report
                        </div>
                    </a>
                    <div class="projectDesc">
                        .NET core interacting with Bungie's Destiny Api combined with minimalistic design allows for a fast and simple stats reporting experience.
                    </div>
                </div>

                <div class="project3">
                    <div class="projectTitle">
                        Project 3
                    </div>
                    <div class="projectDesc">
                        This is a description for project 3 that includes words and meaningful type to allow one to be bewildered by it’s amazement.
                    </div>
                </div>
            </div>
             
            <NavLink class="goBackNav" href="" Match="NavLinkMatch.All">
                <span class="goBack">Go Back</span>
            </NavLink>

        </div>
    </div>
</div>