@page "/projects"

<div class="frame">
    <div class="projectsBG">
        <div class="border">
            <img src="/images/Arrow1.png" class="arrow1" alt="two-connected-dots" />
            <img src="/images/Arrow2.png" class="arrow2" alt="line-with-dot" />

            <div class="titleSection">
                <div class="titleProjects">
                    Projects
                </div>
                <div class="titleProjectsReflected">
                    Projects
                </div>
            </div>

            <div class="projectList">

                <div class="project1 project">
                    <div class="projectTitle">
                        <a class="projectTitle projectLink" href="https://nsureclientportal.azurewebsites.net">
                            NSure Client Portal
                        </a>
                    </div>
                    <div class="projectDesc">
                        Built on the Blazor framework, this rich and intuitive interface makes your insurance easier to understand.
                    </div>
                </div>

                <div class="project2 project">
                    <div class="projectTitle">
                        <a class="projectTitle projectLink" href="https://destiny-stats.azurewebsites.net">
                            Video Game Stats Report
                        </a>
                    </div>
                    <div class="projectDesc">
                        .NET core interacting with Bungie's Destiny Api combined with minimalistic design allows for a fast and simple stats reporting experience.
                    </div>
                </div>
            </div>
             
            <NavLink class="goBackNav" href="" Match="NavLinkMatch.All">
                <span class="goBack">Go Back</span>
            </NavLink>

        </div>
    </div>
</div>