@page "/projects"

<div class="frame">
    <div class="projectsBG">
        <div class="border">
            <img src="/images/Arrow1.png" class="arrow1" alt="two-connected-dots" />
            <img src="/images/Arrow2.png" class="arrow2" alt="line-with-dot" />

            <div class="titleSection">
                <div class="titleProjects">
                    Projects
                </div>
                <div class="titleProjectsReflected">
                    Projects
                </div>
            </div>

            <div class="projectDisclaimer" style="  font-style: italic;
                                                    color: white;
                                                    text-align: right;
                                                    font-family: Rubik;
                                                    font-size: 17px;
                                                    font-weight: 400;
                                                    line-height: normal;
                                                    letter-spacing: 3px;">
                Some projects down for maintenance, check back soon.
            </div>

            <div class="projectList">

                <div class="project1 project">
                    <div class="projectTitle">
                    <a class="projectTitle projectLink" href="https://nsureclientportal.joshhillportfolio.co.uk">
                            NSure Client Portal
                        </a>
                    </div>
                    <div class="projectDesc">
                        Built on the Blazor framework, this rich and intuitive interface makes your insurance easier to understand.
                    </div>
                </div>

                    <div class="project2 project">
                    <div class="projectTitle">
                        <a class="projectTitle projectLink" href="projects">
                            Video Game Stats Report
                        </a>
                    </div>
                    <div class="projectDesc">
                        .NET core interacting with Bungie's Destiny API combined with minimalistic design allows for a fast and simple stats reporting experience.
                    </div>
                </div>

                <div class="project2 project">
                    <div class="projectTitle">
                        <a class="projectTitle projectLink" href="projects">
                            ViM - Vehicle Information Management
                        </a>
                    </div>
                    <div class="projectDesc">
                        Basic form entry with assitance from the DVLAs VES API that Users can tab through effortlessly and efficiently thanks to Bootstrap.
                    </div>
                </div>

            </div>

             
            <NavLink class="goBackNav" href="" Match="NavLinkMatch.All">
                <span class="goBack">Go Back</span>
            </NavLink>

        </div>
    </div>
</div>
